.post-more-link {
  float: right;
  margin-top: 20px;

  .btn {
    color: $read-more-color;
    font-size: $read-more-font-size;
    background: $read-more-bg-color;
    boreder: 2px solid $z_a;
    transition-property: background-color;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
    transition-delay: 0s;
    border-radius: 3px;
    line-height: 2;
  }
  .btn:hover {
    color: $z_white;
    background: $z_a;
  }
}
